    <?php
        $sql="select * from news";
        $news=$mysql->query($sql)->fetch_all(MYSQLI_ASSOC);
    ?>
    <link rel="stylesheet" href="../static/css/news.css">
    <title>新闻资讯</title>
    <div style="width: 100%;height:20px "></div>
    <div class="banner ">
        <div class="container ">
            <div class="row ">
                <div class="img col-lg-12 col-sm-12 col-xs-12 ">
                    <img src="../static/img/news/1.png " alt=" ">
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="conserve ">
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>

                        <div class="conserve-text col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <div><?php echo $nav['nname'];?></div>
                            <div class="con-text-eng "><?php echo $nav['ename'];?></div>
                        </div>
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <ul class="message col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <?php foreach($news as $values){?>
                    <li class="message-content ">
                        <div><a href="./news.php?id=<?php echo $values['id']?>"><?php echo $values['name']?></a></div>
                        <div><span><?php echo $values['date']?></span></div>
                    </li>
                    <?php }?>
                </ul>
            </div>
            <div class="row ">
                <div class="img img1 col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <img src="../static/img/news/2.png " alt="图片未找到">
                </div>
            </div>

        </div>

    </div>
    </div>

</body>

</html>