
    <title>在线预约</title>
    <link rel="stylesheet" href="../static/css/在线预约.css">
    <!-- 在线预约部分的开始 -->
    <form>
    <div class="container">
        <div class="box">
            <!-- 身体图片开始 -->
            <div class="row tupian">
                <img src="../static/img/aboutus/aboutus1" alt="图片加载失败">
            </div>
            <!-- 身体图片结束 -->
            <!-- 身体关于我们标题开始 -->
            <div class="row aboutus-title">
                <div class="column aboutus-title-left "></div>
                <div class="column aboutus-title-midddle">
                    <div class="aboutus-title-midddle-zw">在线预约</div>
                    <div class="aboutus-title-midddle-yw">Online Appointment</div>
                </div>
                <div class="column aboutus-title-right"></div>
            </div>
            <!-- 选项卡的开始 -->
            <div class="option">
                <div class="content">
                    <div class="service">
                        <span>预约服务：</span>
                        <div class="service-select" >
                            <select name="oservice">
                                 <option selected>定制餐桌</option> 
                                 <option>定制沙发</option> 
                                 <option>其他家具</option>
                             </select>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <!-- 预约日期 -->
                    <div class="data">
                        <span>预约日期：</span>

                        <div class="data-select">
                            <!--<label for="year">预约日期</label>-->
                            <input type="date" value="" name="odate"  style="width: 150px;">
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <!-- 姓名 -->
                    <div class="name">
                        <span>您的姓名：</span>
                        <div class="name-input">
                            <input type="text" name="oname">
                        </div>
                    </div>
                    <div style="clear: both"></div>

                    <!-- 性别 -->
                    <div class="sex">
                        <span>您的性别：</span>
                        <div class="sex-input">
                            <input id="nan" type="radio" value="男" name="osex"> 男
                            <input id="nv" type="radio"  value="女" name="osex"> 女
                        </div>
                    </div>
                    <div style="clear: both"></div>

                    <!-- 电话 -->
                    <div class="phone">
                        <span>您的电话：</span>
                        <div class="phone-input">
                            <input type="text" name="ophone">
                        </div>
                    </div>
                    <div style="clear: both"></div>

                    <!-- 补充说明 -->
                    <div class="explain">
                        <span>补充说明：</span>
                        <div class="explain-text">
                            <textarea name="oexplain" id="" cols="39" rows="3" style="border: 1px solid #E1E1E1 !important"></textarea>
                        </div>
                    </div>
                    <div style="clear: both"></div>

                    <!-- 验证码 -->
                    <div class="Verification">
                        <span>验证码：</span>

                        <div class="Verification-input">
                            <input type="text" id="code_input" value="" placeholder="请输入验证码" />
                        </div>
                        <div class="cancasa">
                            <canvas id="canvas1" style="width: 120px; height: 50px;"></canvas>
                        </div>
                    </div>
                    <div style="clear: both"></div>

                    <!-- 提交-->
                    <div class="Submission">
                        <button type="submit">提交预约</button>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    </form>
<script src="../static/js/在线预约.js"></script>
<script>

        $('form').on('submit',function (e){
            e.preventDefault();
            let qs = $(this).serialize();
            $.ajax({
                url:'onlineinsert.php',
                type:'POST',
                dataType:'json',
                data:qs,
                context:this,
                success:function (res){
                    if (res.code == 200){
                        alert(res.msg);
                        this.reset();
                    } else{
                        alert(res.msg);
                    }
                }
            })
        });
</script>