{include file='public/header' title='$title' /}
    <link rel="stylesheet" href="__CSS_PATH__aboutus.css">

</head>

<body>
    <div class="container">
        <div class="box">
            <!-- 身体图片开始 -->
            <div class="row tupian">
                <img src="__IMAGES_PATH__aboutus/aboutus1" alt="图片加载失败">
            </div>
            <!-- 身体图片结束 -->
            <!-- 身体关于我们标题开始 -->
            <div class="row aboutus-title">
                <div class="column aboutus-title-left "></div>
                <div class="column aboutus-title-midddle">
                    <div class="aboutus-title-midddle-zw">关于我们</div>
                    <div class="aboutus-title-midddle-yw">About Us</div>
                </div>
                <div class="column aboutus-title-right"></div>
            </div>
            <!-- 身体关于我们标题结束 -->
            <!-- 身体关于我们内容开始 -->
            <div class="row aboutus-content">
                <div class="col aboutus-content-left col-lg-6 col-md-6 col-sm-12">
                    <div class="aboutus-content-left-wenzi1">
                        虎居——中国家居建材新零售引领者。集线上产品展示、管理、下单为一体，配合线下门店一对一服务，助力传统家居实体经济升级，打造泛家居新零售生态体系。虎居运用C2M2B的模式补齐传统家居模式短板，快速占领全国家居市场，成为互联网家居建材市场上冉冉升起的明日之星。以消费者为主导，助力传统家居实体经济升级，打造家居新零售生态体系。
                        <!-- 汽车有限公司成立于XXX年XX月XX日，是本地区唯一的授权销售服务中心和特约售后服务中心。主要从事多种品牌的整车销售、 售后服务、配件供应及信息反馈业务。公司秉承 “尊荣无限 至上体验”的服务理念，培养更主动贴心的服务意识,追求更周到便捷的服务水准，让每一位车主，都体验到管家般的细致专业，享受到真正待为贵宾般的尊崇体验。 -->
                    </div>
                    <div class="aboutus-content-left-wenzi2">
                        线上选购，线下体验，就近体验，提供一站式有感家居购物场景，让消费者省心、省时、省力、省事、省钱。通过虎居全国加盟线下体验店渠道，全方位解决品牌厂家经销、分销渠道拓展和信息化管理等痛点问题，传统门店智慧升级打造泛家居新零售门店，满足消费者全维度运提升实体门店客流量和销量。
                        <!-- 除了为车主提供贴心专业的购车及售后服务，公司还经常组织车主活动，为车主朋友提供一个轻松、愉快的交流平台，让每一位车主都能大家庭里感受到“车生活”更多的乐趣。经过两年的时间，公司已经发展，拥有一流的硬件设施、科学的管理、精湛的技术、诚心的服务品质和积极进取的优秀团队。 -->
                    </div>
                    <div class="aboutus-content-left-wenzi3">
                        真诚期望XXX能成为您的爱居！
                    </div>
                </div>
                <div class="column aboutus-content-right col-lg-6 col-md-6 col-sm-12">
                    <img src="__IMAGES_PATH__aboutus/aboutus2" alt="图片加载失败">
                </div>
            </div>
            <!-- 身体关于我们内容结束 -->
            <!-- 身体人物标题开始 -->
            <!-- <div class="row people-title"></div> -->
            <div class="row aboutus-title">
                <div class="column aboutus-title-left"></div>
                <div class="column aboutus-title-midddle">
                    <div class="aboutus-title-midddle-zw">商品分类</div>
                    <div class="aboutus-title-midddle-yw">Commodity fication</div>
                </div>
                <div class="column aboutus-title-right"></div>
            </div>
            <!-- 身体人物标题结束 -->
            <!-- 身体人物内容开始 -->
            <div class="row people-content">
                <div class="column people-first col-lg-3 col-md-3 col-sm-12">
                    <div class="people-first-tu">
                        <img src="__IMAGES_PATH__aboutus/jiancai.jpg" alt="图片加载失败">
                    </div>
                    <div class="people-first-wenzi">
                        <div class="people-first-wenzi1">终极让利</div>
                        <div class="people-first-wenzi2">建材商城</div>
                    </div>
                </div>
                <div class="column">
                    <div class="column people-first col-lg-3 col-md-3 col-sm-12">
                        <div class="people-first-tu">
                            <img src="__IMAGES_PATH__aboutus/jiaju.jpg" alt="图片加载失败">
                        </div>
                        <div class="people-first-wenzi">
                            <div class="people-first-wenzi1">限时直降</div>
                            <div class="people-first-wenzi2">家具商城</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column people-first col-lg-3 col-md-3 col-sm-12">
                        <div class="people-first-tu">
                            <img src="__IMAGES_PATH__aboutus/shenghuo.jpg" alt="图片加载失败">
                        </div>
                        <div class="people-first-wenzi">
                            <div class="people-first-wenzi1">全场特惠</div>
                            <div class="people-first-wenzi2">家居生活</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column people-first col-lg-3 col-md-3 col-sm-12">
                        <div class="people-first-tu">
                            <img src="__IMAGES_PATH__aboutus/dianqi.jpg" alt="图片加载失败">
                        </div>
                        <div class="people-first-wenzi">
                            <div class="people-first-wenzi1">降价狂欢</div>
                            <div class="people-first-wenzi2">电器商城</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 身体人物内容结束 -->
        </div>
    </div>

</body>

</html>
 <script src="__JS_PATH__aboutus.js"></script>
{include file='public/bottom'/}