{include file='public/header' title='$title' /}
    <link rel="stylesheet" href="__CSS_PATH__news.css">

    <div style="width: 100%;height:20px "></div>
    <div class="banner ">
        <div class="container ">
            <div class="row ">
                <div class="img col-lg-12 col-sm-12 col-xs-12 ">
                    <img src="__IMAGES_PATH__news/1.png " alt=" ">
                </div>
            </div>
            <div class="container ">
                <div class="row ">
                    <div class="conserve ">
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>

                        <div class="conserve-text col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                            <div>养护知识</div>
                            <div class="con-text-eng ">Knowledgement</div>
                        </div>
                        <div class="conserve-wire col-lg-5 col-md-5 col-sm-5 col-xs-5 "></div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <ul class="message col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <li class="message-content ">
                        <div><a href="news-one.html ">实木指接板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-two.html ">大亚实木颗粒板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-three.html ">多层实木板</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-four.html ">三聚氰氨饰面</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-five.html ">实木皮饰面</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                    <li class="message-content ">
                        <div><a href="news-six.html ">封边知识</a></div>
                        <div><span>2015-01-20</span></div>
                    </li>
                </ul>
            </div>
            <div class="row ">
                <div class="img img1 col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                    <img src="__IMAGES_PATH__news/2.png " alt=" ">
                </div>
            </div>

        </div>

    </div>
    </div>

</body>

</html>
{include file='public/bottom'/}