<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <link rel="stylesheet" href="/thinkPHP/public/static/css/layui.css">
    <script src="/thinkPHP/public/static/layui.js"></script>
</head>
<body>
<form action="" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select  lay-verify="" name="cid">
                    <option value="">请选择一个分类</option>
                    {volist name="cates" id="vo"}
                    <option value="{$vo.id}">{$vo.cname}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-mid">商品名称</div>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" name="gname" placeholder="请输入查询关键字" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-mid">零售范围</div>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" name="price-min" placeholder="请输入最低价" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 150px;">
                <input type="text" name="price-max" placeholder="请输入最高价" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn" lay-submit lay-filter="sousuo">搜索</button>
        </div>
    </div>
</form>
<table class="layui-hide" id="demo" lay-filter="test" ></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/thinkPHP/public/static/layui.js"></script>
<script>
    const HOSTNAME='/thinkPHP/public/index.php';
    layui.use(['table','layer','form'],function(){
        let table = layui.table,layer=layui.layer,$=layui.$,form=layui.form;
        //页数（总数，每页条数）
        //页码：page   几条：limit    xxxxx?page=1&limit=2
        //搜索    query？cid=1&name=xxx&price_min=12&price_max=90&page=1&limit=3


        let tableIns = table.render({
            elem:'#demo',
            url:'/thinkPHP/public/index.php/admin/Goods/query',
            toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            //开启分页
            ,page:true
            //设置每页的条数
            ,limit:10
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }],
            cols:[[{type: 'checkbox', fixed: 'left'},
                {field:'gid',title:'ID', unresize: true, sort: true},
                {field:'cid',title:'所属分类',edit: 'text',},
                {field:'gname',title:'商品名称',edit: 'text',},
                {field:'gstock',title:'库存',edit: 'text',},
                {field:'mprice',title:'市场价',edit: 'text'},
                {field:'sale',title:'零售价',edit: 'text',},
                {field:'gdatail',title:'详情',edit: 'text',},
                {field:'gthumb',title:'缩略图',templet:function (d) {return "<img src = '"+d.gthumb+"'>"}},
                {field:'gbanner',title:'轮播图',templet:'#bannerTpl'},
                {field:'right',title:'操作',toolbar:'#barDemo'}
                ]],
        });
        form.on('submit(sousuo)', function (data) {
            let field = data.field;
            tableIns.reload({
                // url:'/thinkPHP/public/index.php/admin/Goods/query',
                where:{
                    field
                },
                page:{
                    curr:1
                }
            });
            return false;
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        //删除
        table.on('tool(test)', function(obj){
            var data = obj.data;
            console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除这行么', function(index){

                    let id = obj.data.id;
                    $.ajax({
                        url:HOSTNAME+'/admin/Nav/remove',
                        type:'POST',
                        data:{'id':id},
                        dataType:'json',
                        success:function (res) {
                            if (res.code==200){
                                obj.del();
                                layer.close(index);
                                layer.msg(res.msg);
                            }
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                console.log(obj);
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
        //修改
        table.on('edit(test)',function (obj) {
            let value = obj.value //得到修改后的值
                ,id = obj.data.id //得到所在行所有键值
                ,field = obj.field
                ,data = obj.data; //得到字段
            // layer.open();
            let index = layer.load(2);

            $.ajax({
                url:'/thinkPHP/public/index.php/admin/Nav/update',
                type:'POST',
                // data:{'id':id,'value':value,'field':field},
                data:{id,value,field},
                // data:data,
                dataType:'json',
                success:function (res) {
                    console.log(res);
                    if (res.code==200){
                        layer.close(index);
                        layer.msg('[ID: '+ id +'] ' + field + ' 字段更改为：'+ value);
                    }
                }
            });

        });
    });
</script>
<script type="text/html" id="bannerTpl">
    {{# let arr = d.gbanner.split(',') }}
    {{# arr.forEach(ele=>{    }}
    <img src="{{ ele }}" alt="">
    {{# }) }}
</script>

</body>
</html>